body, html {
    height: 100%;
    width:100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background: linear-gradient( #ffffff, #e0e0e0);

}

.btn-custom {
    background-color: #28a745;
    color: white;
    font-size: 0.9rem;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


.contact-icon {
    width: 50px;
    cursor: pointer;

}
.logo {
    width: 100px;

}


footer {
    font-size: 14px;
}

footer img{
    vertical-align: middle;
}

.img-topo {
    width: 100px;
}

.card-img-top {
    width: 100px;
    height: auto;
}

@media (max-width: 576px) {
    .card-img-top {
        width: 200px !important;
        height: auto;
    }
}
@media (max-width: 450px) {
    .card-img-top {
        width: 160px !important;
        height: auto;
    }
}
